<html lang="en">
<head>
<title>Page Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="navbar">
  <a href="#" class="active">Home</a>
  <a href="#" class="right" onclick="startTime()">Show Time</a>
</div>
<p id="txt" class="clock"></p>
<div class="canvasbox">
  <h1>Virgo Cluster</h1>
  <canvas id="canvas"/>
</div>
<div class="row">
  <div class="side">
    <h2>About</h2>
    <div class="fakeimg" style="height:472px;">website for testing</div>
  </div>
  <div class="main">
    <h2>Base64 json (with html as data)</h2>
    <div id="buttonGroup" class="cbuttonGroup">
        <button onclick="init()">Pull JSON</button>
        <button onclick="clearJSON('cart_item')">Clear JSON</button>
    </div>
    <div id="jsondata" style="text-align:justify; text-justify:inter-word;">
    </div>
  </div>
</div>
<div class="footer">
</div>
<script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}"></script>
</body>
</html>
