<html lang='en'>
<head>
<title>Virgo Cluster</title>
<link rel= 'stylesheet' type= 'text/css' href= '{{ url_for('static',filename='styles/style02.css') }}'>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class='navbar'>
    <a href='#'>MainPage</a>
    <a href='#' class='right' onclick='startTime()'>Show Time</a>
    <a href='#' class='right' onclick='BGjson04()'>Reload</a>
  </div>
<p id='txt' class='clock'></p>
<div class='canvasbox'>
  <h1>Virgo Cluster</h1>
  <canvas id='canvas'/>
</div>

<div class='Sticktogether'>

<div class='row'>
  <div class='side'>
    <h2>Input</h2>

    <section class='content'>
      Auto Preview: <input type='checkbox' id='myCheck'  onclick='AutoPreview01()'>
      <form class='content__form contact-form'>
        <div class='contact-form__input-group'>
          <label>jdata1</label>
          <input class='contact-form__input contact-form__input--code' id='jdata1' name='jdata1' type='code' value="<iframe width='100%' height='415' src='https://www.youtube.com/embed/pBuZEGYXA6E' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>"/>
          <br>
          <label>secret</label>
          <input class='contact-form__input contact-form__input--code' id='secret' name='secret' type='code' value='MTIzLTEyMw=='/>
        </div>
        <button class='contact-form__button' type='submit'>Apply</button>
      </form>

    </section>
    <div class='fakeimg' style='height:472px;'>
    <p>Incomplete, unreliable.</p>
    <p>Do not use --> "</p>
      <h2> Json</h2>
    <div class='results'>
      <pre class='results__display-wrapper'><code class='results__display'></code></pre>
    </div>
      <h2>Json+Base64</h2>
    <div class='results'>
      <pre class='results__display-wrapper'><code class='results__display2'></code></pre>
    </div>

    </div>

  </div>

  <div class='main'>

    <div id='buttonGroup' class='cbuttonGroup'>
        <button id='DisableB01' onclick='BPreview01()'>Preview</button>
        <button id='DisableB02' onclick='BClear01()'>Clear Preview</button>
    </div>
    <div id='jsondata'>

  </div>
</div>
</div>
<div class='footer'>
</div>
<script type='text/javascript' src='{{ url_for('static',filename='js/script02.js') }}'></script>
</body>
</html>
