<!DOCTYPE html>
<html lang='en'>
<head>
<title>json tool</title>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel= 'stylesheet' type= 'text/css' href= '/static/styles/style02.css'/>
</head>
<body>
  <div id='navbar01' class='navbar'>
    <a href='/'>MainPage</a>
    <form class='navright'>
      <input type="checkbox" id="chbox03" onclick='startchkrunanimation()' value=''>
      <label for="chbox03" class='navrightchboxtxt'>animation</label><br>
    </form>
  </div>
<div class='canvasbox'>
  <h3 class='canvastxt01'>Json Tool</h3>
  <p class='canvastxt02' id='ShowMyHost'>Loading...</p>
  <canvas id='canvas01' width="100%" height="100" style="border:1px solid #000000;">
Your browser does not support the HTML canvas tag.</canvas>
</div>
<div class='row'>
  <div class='side'>
    <div class='a'>
    <section class='content'>
      <input type='checkbox' id='chbox02' class='chbstylebtn01' onclick='jsonbst01()'>      <div id="advbtn01">
        <span class="chbstyletxt01" for="chbox02">Advanced <span style='color:red; font-weight: bold;'>OFF</span></span>
      </div>
      <h1 class='content__heading'>Input
        <div id="advrend02">
          <button id='def01' class='testvb' onclick='reset()'>defaults</button>
          <button id="smp01" class="testvb" onclick="testv()">sample value</button>
        </div>
      </h1>
        <form id='actualdata01'>
        <label for="urlEntry">url</label>
        <input id="urlEntry" class='inputstyle' type="text" value=''>
        <br>
        <div id="headerlist01">
        </div>
        <br>
        <label for="methodEntry">method</label>
        <select id="methodEntry" value=''>
          <option value="DELETE">DELETE</option>
          <option value="GET">GET</option>
          <option value="PATCH">PATCH</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="HEAD">HEAD</option>
          <option value="OPTIONS">OPTIONS</option>
        </select>
        <br>
        <br>
        <div id="jsonbstyle01" class='jbs'>
          <label for="dataId01">data</label>
          <input id="dataId01" class='jsonvalue' type="text" value='data01'>
        </div>
        </form>
        <div id="jsonbstyle02" class='jbs'>
            <div class='inputbox'>
              <label for="valueId01">value</label>
              <textarea id="valueId01" class='inputbox01' type='text' ></textarea>
              <br>
            </div>
        </div>

        <div id="smplbtn01"><button id='apply01' onclick='bshow01()'>apply</button>
        </div>
      <br>
    </section>
  </div>
  <div class='boxx'>
    <p><b>Encoder</b></p>
    <p><b>Json</b></p>
    <div class='results01'>
      <textarea id="showJson01" class='result01' type='text' readonly></textarea>
    </div>
    <p><b>Json+Base64</b></p>
    <div class='results01'>
      <textarea id="showJsonbase01" class='result01' type='text' readonly></textarea>
    </div>
  </div>
</div>
<div class='main'>
  <div id='buttonGroup' class='cbuttonGroup'>
    <p><b>Responses and visual preview</b></p>
    <div class='Controls'>
      <button id='DisableB01' onclick='bshow02()'>GET</button>
      <button id='DisableB02' onclick='bclear01()'>Clear</button>
    </div>
    <div id="advrend01">
      <br>
      <label for="IncomingJson">incoming data</label>
      <textarea id="IncomingJson" class='result01' type='text' readonly></textarea>
    </div>
  </div>
  <p></p>
  <div class='results2'>
    <div id='jsondata'>
    </div>
  </div>
</div>
</div>
<div class='footer'>
</div>
<script src='/static/js/script01.js'/></script>
<script src='/static/js/script02.js'/></script>
</body>
</html>
