<html lang='en'>
<head>
<title>Virgo Cluster</title>
<link rel= 'stylesheet' type= 'text/css' href= '{{ url_for('static',filename='styles/style02.css') }}'>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class='navbar'>
    <a href='#'>MainPage</a>
    <a href='#' class='right' onclick='startTime()'>Show Time</a>
    <a href='#' class='right' onclick='BGjson04()'>Reload</a>
  </div>
<p id='txt' class='clock'></p>
<div class='canvasbox'>
  <h1 style="color:white; padding-left: 20px;">Virgo Cluster</h1>
  <canvas id='canvas'/>
</div>

<div class='Sticktogether'>

<div class='row'>
  <div class='side'>
    <h2>Input</h2>
    <p>Do not type speech marks --> "</p>
    <section class='content'>
      <form class='content__form contact-form'>
        <div class='contact-form__input-group'>
          <label>jdata1</label>
          <input class='contact-form__input contact-form__input--code' id='jdata1' name='jdata1' type='code' value="
<head>
<title>CSS Template</title>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<style>
* {
box-sizing: border-box;
}
body {
font-family: Arial, Helvetica, sans-serif;
position: relative;
}
header {
background-color: #666;
padding: 30px;
text-align: center;
font-size: 35px;
color: white;
}
article {
float: left;
padding: 20px;
width: 100%;
background-color: #f1f1f1;
}
section:after {
content: '';
display: table;
clear: both;
}
footer {
background-color: #777;
padding: 10px;
text-align: center;
color: white;
}
@media (max-width: 600px) {
nav, article {
width: 100%;
height: auto;
}
}
</style>
</head>
<body>
<header>
<h2>Lorem ipsum</h2>
</header>
<section>
<article>
<iframe width='100%' height='415' src='https://www.youtube.com/embed/pBuZEGYXA6E' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
<p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic.</p>
<p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. </p>
</article>
</section>
<footer>
<p>Footer</p>
</footer>
</body>
</html>
          "/>
          <br>
          <label>secret</label>
          <input class='contact-form__input contact-form__input--code' id='secret' name='secret' type='code' value=''/>
        </div>
        <button class='contact-form__button' type='submit'>Apply</button>
        Enter to Preview:<input type='checkbox' id='myCheck' onclick='EntertoPreview01()'checked>

      </form>

    </section>
    <div class='fakeimg' style='height:472px;'>
      <h2> Json</h2>

    <div class='results'>
      <pre class='results__display-wrapper'><code class='results__display'></code></pre>
    </div>

      <h2>Json+Base64</h2>

    <div class='results'>
      <pre class='results__display-wrapper'><code class='results__display2'></code></pre>
    </div>

    </div>
  </div>

  <div class='main'>

    <div id='buttonGroup' class='cbuttonGroup'>
        <button id='DisableB01' onclick='BPreview01()'>Preview</button>
        <button id='DisableB02' onclick='BClear01()'>Clear Preview</button>
    </div>
    <div id='jsondata'>

  </div>
</div>
</div>
<div class='footer'>
</div>
<script type='text/javascript' src='{{ url_for('static',filename='js/script02.js') }}'></script>
</body>
</html>
