<html lang="en">
<head>
<title>Page Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style01.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="navbar">
    <a href="/">json tool</a>
    <a href="#">RaspberryPi</a>
    <a href="#" class="right" onclick="startTime()">Show Time</a>
  </div>
<p id="txt" class="clock"></p>
<div class="canvasbox">
  <h1>Virgo Cluster</h1>
  <canvas id="canvas"/>
</div>
<div class="row">
  <div class="side">
    <h2>About</h2>
    <div class="fakeimg" style="height:472px;">website for testing</div>
  </div>
  <div class="main">
    <h2>Control Panel</h2>
    <p>systemctl</p>
    <button onclick="BGjson04()">daemon-reload</button>
    <p>Power options</p>
    <button onclick="BGjson02()">Reboot</button>
    <button onclick="BGjson03()">Poweroff</button>
  </div>
</div>
<div class="footer">
</div>
<script type="text/javascript" src="{{ url_for('static',filename='js/script03.js') }}"></script>
</body>
</html>
